// Custom styles.
// 修改代码块自定义样式
code {
  //color: #ff7600;
  background: #fbf7f8;
  margin: 2px;
  padding: 2px 4px;
  color: #c7254e;
  font-size: 1em;
  white-space: nowrap;
  border-radius: 3px;
}
